{% extends 'base.html' %}
{% load static %}
{% block title %}Paper Graph{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Paper Info</h1>
            <p>Press Build to get graph results of papers.</p>
            <br>
            <form action="{% url 'graph-content' %}" method="get">
                <div class="row">
                   <div class="col-lg-6">
                       <div class="input-group">
                           <div class="input-group-btn">
                               <input type="hidden" id="graph-type" name="graph-type" value="doi"/>
                               <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   <span id="typeText" class="buttonText">doi</span>
                                   <span class="caret"></span>
                               </button>

                               <ul class="dropdown-menu" role="menu">
                                   <li><a href="#" onclick="shows($(this).text(), 'doi')">doi</a></li>
                                   <li><a href="#" onclick="shows($(this).text(), 'author')">author</a></li>
                               </ul>
                           </div>

                           <input type="text" name="graph-content" placeholder="author id/author name or paper doi" class="form-control"/>
                       </div>
                   </div>
                </div>
                <br>
                <input class="btn btn-primary btn-lg" value="Build" type="submit">
            </form>
        </div>
        <br>
        {% if paper_topic_pagerank %}
            <div class="container">
                <h3>paper topic page rank</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>doi</th>
                            <th>pagerank</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pK, pV in paper_topic_pagerank.items %}
                            <tr>
                                <th><a href="https://sci-hub.se/{{ pK }}">{{ pK }}</a></th>
                                <td>{{ pV }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if paper_lpa %}
            <div class="container">
                <h3>lpa-method list</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>doi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in paper_lpa %}
                            <tr>
                                <td><a href="https://sci-hub.se/{{ p }}">{{ p }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if author_simrank %}
            <div class="container">
                <h3>author sim rank</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>author</th>
                            <th>sim rank</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pK, pV in author_simrank.items %}
                            <tr>
                                <th>{{ pK.author_name }}</th>
                                <td>{{ pV }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    <script>
        function shows(a, value) {
            $('.buttonText').text(a);
            $('#graph-type').val(value);
        }
    </script>
{% endblock %}
