<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="432e700043994b11a6b52d25fe0eca7b" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_432e700043994b11a6b52d25fe0eca7b = echarts.init(
            document.getElementById('432e700043994b11a6b52d25fe0eca7b'), 'white', {renderer: 'canvas'});
        var option_432e700043994b11a6b52d25fe0eca7b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "hotspots",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                12,
                55
            ],
            "data": [
                {
                    "name": "methods",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,69,60)"
                        }
                    }
                },
                {
                    "name": "statistical",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,82,52)"
                        }
                    }
                },
                {
                    "name": "support vector machines",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,73,77)"
                        }
                    }
                },
                {
                    "name": "algorithm design and analysis",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,58,15)"
                        }
                    }
                },
                {
                    "name": "reliability",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,78,148)"
                        }
                    }
                },
                {
                    "name": "test",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,61,25)"
                        }
                    }
                },
                {
                    "name": "application",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,142,130)"
                        }
                    }
                },
                {
                    "name": "stability",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,150,35)"
                        }
                    }
                },
                {
                    "name": "systems",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,98,124)"
                        }
                    }
                },
                {
                    "name": "control systems",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,31,10)"
                        }
                    }
                },
                {
                    "name": "image",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,13,6)"
                        }
                    }
                },
                {
                    "name": "kernel",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,78,58)"
                        }
                    }
                },
                {
                    "name": "/spl",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,0,129)"
                        }
                    }
                },
                {
                    "name": "robust control",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,147,82)"
                        }
                    }
                },
                {
                    "name": "interpolation",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,18,41)"
                        }
                    }
                },
                {
                    "name": "biomedical imaging",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,40,112)"
                        }
                    }
                },
                {
                    "name": "tutorial",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,45,5)"
                        }
                    }
                },
                {
                    "name": "signal processing algorithms",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(58,84,33)"
                        }
                    }
                },
                {
                    "name": "voltage",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,148,124)"
                        }
                    }
                },
                {
                    "name": "uninterruptible power systems",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,144,63)"
                        }
                    }
                },
                {
                    "name": "overview",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(56,78,33)"
                        }
                    }
                },
                {
                    "name": "learning",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,7,128)"
                        }
                    }
                },
                {
                    "name": "theory",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,96,38)"
                        }
                    }
                },
                {
                    "name": "statistical learning",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,79,71)"
                        }
                    }
                },
                {
                    "name": "machine learning",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(100,14,117)"
                        }
                    }
                },
                {
                    "name": "pattern recognition",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,89,109)"
                        }
                    }
                },
                {
                    "name": "loss measurement",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,74,93)"
                        }
                    }
                },
                {
                    "name": "multidimensional systems",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(68,55,64)"
                        }
                    }
                },
                {
                    "name": "risk management",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(159,16,114)"
                        }
                    }
                },
                {
                    "name": "probability distribution",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,89,80)"
                        }
                    }
                },
                {
                    "name": "ieee",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,7,133)"
                        }
                    }
                },
                {
                    "name": "system-1996.",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(72,90,151)"
                        }
                    }
                },
                {
                    "name": "report",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,112,122)"
                        }
                    }
                },
                {
                    "name": "prepared",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,66,76)"
                        }
                    }
                },
                {
                    "name": "system",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,137,154)"
                        }
                    }
                },
                {
                    "name": "task",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(50,153,98)"
                        }
                    }
                },
                {
                    "name": "force",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,147,123)"
                        }
                    }
                },
                {
                    "name": "probability",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(7,93,37)"
                        }
                    }
                },
                {
                    "name": "subcommittee",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,132,95)"
                        }
                    }
                },
                {
                    "name": "system testing",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,154,56)"
                        }
                    }
                },
                {
                    "name": "joining processes",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,142,106)"
                        }
                    }
                },
                {
                    "name": "power systems",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,85,98)"
                        }
                    }
                },
                {
                    "name": "power system reliability",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,4,52)"
                        }
                    }
                },
                {
                    "name": "hybrid power systems",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,84,134)"
                        }
                    }
                },
                {
                    "name": "power system analysis computing",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(27,11,83)"
                        }
                    }
                },
                {
                    "name": "power system interconnection",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,139,100)"
                        }
                    }
                },
                {
                    "name": "biographies",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,100,70)"
                        }
                    }
                },
                {
                    "name": "power engineering and energy",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,128,149)"
                        }
                    }
                },
                {
                    "name": "systems engineering and theory",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(61,7,120)"
                        }
                    }
                },
                {
                    "name": "evolving",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,56,68)"
                        }
                    }
                },
                {
                    "name": "artificial",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,57,48)"
                        }
                    }
                },
                {
                    "name": "neural",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,143,81)"
                        }
                    }
                },
                {
                    "name": "networks",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,121,104)"
                        }
                    }
                },
                {
                    "name": "artificial neural networks",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,141,158)"
                        }
                    }
                },
                {
                    "name": "intelligent systems",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(99,88,111)"
                        }
                    }
                },
                {
                    "name": "competitive intelligence",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(84,150,17)"
                        }
                    }
                },
                {
                    "name": "evolutionary computation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,98,112)"
                        }
                    }
                },
                {
                    "name": "artificial intelligence",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,11,97)"
                        }
                    }
                },
                {
                    "name": "transfer functions",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,47,124)"
                        }
                    }
                },
                {
                    "name": "computer networks",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,67,28)"
                        }
                    }
                },
                {
                    "name": "intelligent networks",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,41,71)"
                        }
                    }
                },
                {
                    "name": "adaptive systems",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(98,131,120)"
                        }
                    }
                },
                {
                    "name": "basic",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,148,58)"
                        }
                    }
                },
                {
                    "name": "problems",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,6,23)"
                        }
                    }
                },
                {
                    "name": "design",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,19,43)"
                        }
                    }
                },
                {
                    "name": "switched",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(15,27,135)"
                        }
                    }
                },
                {
                    "name": "switched systems",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(77,84,64)"
                        }
                    }
                },
                {
                    "name": "air traffic control",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,44,134)"
                        }
                    }
                },
                {
                    "name": "control theory",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,156,51)"
                        }
                    }
                },
                {
                    "name": "programmable control",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,79,65)"
                        }
                    }
                },
                {
                    "name": "adaptive control",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,142,4)"
                        }
                    }
                },
                {
                    "name": "transient response",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(60,132,69)"
                        }
                    }
                },
                {
                    "name": "feedback control",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,37,8)"
                        }
                    }
                },
                {
                    "name": "mechanical systems",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,5,158)"
                        }
                    }
                },
                {
                    "name": "support",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,99,48)"
                        }
                    }
                },
                {
                    "name": "vector",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(84,50,53)"
                        }
                    }
                },
                {
                    "name": "machines",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,59,28)"
                        }
                    }
                },
                {
                    "name": "histogram-based",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,125,39)"
                        }
                    }
                },
                {
                    "name": "classification",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,62,74)"
                        }
                    }
                },
                {
                    "name": "support vector machine classification",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,103,57)"
                        }
                    }
                },
                {
                    "name": "image classification",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,75,104)"
                        }
                    }
                },
                {
                    "name": "histograms",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(68,126,85)"
                        }
                    }
                },
                {
                    "name": "classification tree analysis",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,7,103)"
                        }
                    }
                },
                {
                    "name": "image recognition",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,100,88)"
                        }
                    }
                },
                {
                    "name": "polynomials",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(104,23,25)"
                        }
                    }
                },
                {
                    "name": "web pages",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,120,60)"
                        }
                    }
                },
                {
                    "name": "image databases",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,16,30)"
                        }
                    }
                },
                {
                    "name": "fractional-order",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,37,48)"
                        }
                    }
                },
                {
                    "name": "pi/sup",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,48,97)"
                        }
                    }
                },
                {
                    "name": "lambda//d/sup",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,28,82)"
                        }
                    }
                },
                {
                    "name": "mu//-controllers",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,138,121)"
                        }
                    }
                },
                {
                    "name": "automatic control",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(110,138,74)"
                        }
                    }
                },
                {
                    "name": "nonlinear systems",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(153,145,152)"
                        }
                    }
                },
                {
                    "name": "riccati equations",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,30,156)"
                        }
                    }
                },
                {
                    "name": "differential equations",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,146,14)"
                        }
                    }
                },
                {
                    "name": "kalman filters",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(88,4,147)"
                        }
                    }
                },
                {
                    "name": "rotors",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,26,8)"
                        }
                    }
                },
                {
                    "name": "angular velocity",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,144,86)"
                        }
                    }
                },
                {
                    "name": "induction motors",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,68,28)"
                        }
                    }
                },
                {
                    "name": "model-based",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,47,50)"
                        }
                    }
                },
                {
                    "name": "voice",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(151,111,22)"
                        }
                    }
                },
                {
                    "name": "activity",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,121,20)"
                        }
                    }
                },
                {
                    "name": "detection",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,42,17)"
                        }
                    }
                },
                {
                    "name": "signal to noise ratio",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,3,118)"
                        }
                    }
                },
                {
                    "name": "speech enhancement",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(42,152,33)"
                        }
                    }
                },
                {
                    "name": "hidden markov models",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,24,7)"
                        }
                    }
                },
                {
                    "name": "statistics",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,11,11)"
                        }
                    }
                },
                {
                    "name": "maximum likelihood estimation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,97,144)"
                        }
                    }
                },
                {
                    "name": "parameter estimation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,98,34)"
                        }
                    }
                },
                {
                    "name": "testing",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,134,84)"
                        }
                    }
                },
                {
                    "name": "light rail systems",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,55,105)"
                        }
                    }
                },
                {
                    "name": "discrete fourier transforms",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,76,43)"
                        }
                    }
                },
                {
                    "name": "frequency estimation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(152,142,153)"
                        }
                    }
                },
                {
                    "name": "survey:",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,51,150)"
                        }
                    }
                },
                {
                    "name": "medical",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(42,17,116)"
                        }
                    }
                },
                {
                    "name": "processing",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(75,97,30)"
                        }
                    }
                },
                {
                    "name": "biomedical image processing",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,125,52)"
                        }
                    }
                },
                {
                    "name": "spline",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,106,152)"
                        }
                    }
                },
                {
                    "name": "image generation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,25,57)"
                        }
                    }
                },
                {
                    "name": "discrete transforms",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(28,64,68)"
                        }
                    }
                },
                {
                    "name": "image coding",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(72,43,157)"
                        }
                    }
                },
                {
                    "name": "nearest neighbor searches",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(109,49,113)"
                        }
                    }
                },
                {
                    "name": "active",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,57,93)"
                        }
                    }
                },
                {
                    "name": "noise",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(51,0,93)"
                        }
                    }
                },
                {
                    "name": "control:",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(152,156,14)"
                        }
                    }
                },
                {
                    "name": "review",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,36,117)"
                        }
                    }
                },
                {
                    "name": "active noise reduction",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,54,28)"
                        }
                    }
                },
                {
                    "name": "noise cancellation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(69,29,86)"
                        }
                    }
                },
                {
                    "name": "digital signal processing",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(93,26,93)"
                        }
                    }
                },
                {
                    "name": "adaptive algorithm",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(142,93,53)"
                        }
                    }
                },
                {
                    "name": "electrical equipment industry",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,83,85)"
                        }
                    }
                },
                {
                    "name": "manufacturing industries",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(57,72,43)"
                        }
                    }
                },
                {
                    "name": "consumer products",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,78,101)"
                        }
                    }
                },
                {
                    "name": "adaptive signal processing",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,137,158)"
                        }
                    }
                },
                {
                    "name": "boost",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,142,145)"
                        }
                    }
                },
                {
                    "name": "dc-ac",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,123,87)"
                        }
                    }
                },
                {
                    "name": "converter:",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(125,101,80)"
                        }
                    }
                },
                {
                    "name": "analysis,",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,43,72)"
                        }
                    }
                },
                {
                    "name": "design,",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,155,94)"
                        }
                    }
                },
                {
                    "name": "experimentation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,151,153)"
                        }
                    }
                },
                {
                    "name": "inverters",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,108,55)"
                        }
                    }
                },
                {
                    "name": "sliding mode control",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,94,32)"
                        }
                    }
                },
                {
                    "name": "topology",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,111,117)"
                        }
                    }
                },
                {
                    "name": "ac generators",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,6,57)"
                        }
                    }
                },
                {
                    "name": "dc generators",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,37,88)"
                        }
                    }
                },
                {
                    "name": "employee welfare",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(127,126,1)"
                        }
                    }
                },
                {
                    "name": "steady-state",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,78,88)"
                        }
                    }
                },
                {
                    "name": "nonrigid",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,71,5)"
                        }
                    }
                },
                {
                    "name": "registration",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,144,108)"
                        }
                    }
                },
                {
                    "name": "free-form",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,6,10)"
                        }
                    }
                },
                {
                    "name": "deformations:",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(19,154,34)"
                        }
                    }
                },
                {
                    "name": "breast",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,34,7)"
                        }
                    }
                },
                {
                    "name": "images",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,25,84)"
                        }
                    }
                },
                {
                    "name": "magnetic resonance imaging",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(91,60,47)"
                        }
                    }
                },
                {
                    "name": "diseases",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,88,99)"
                        }
                    }
                },
                {
                    "name": "breast cancer",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,152,102)"
                        }
                    }
                },
                {
                    "name": "cancer detection",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(38,86,132)"
                        }
                    }
                },
                {
                    "name": "mammography",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,40,42)"
                        }
                    }
                },
                {
                    "name": "cost function",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,92,51)"
                        }
                    }
                },
                {
                    "name": "breast tissue",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,128,130)"
                        }
                    }
                },
                {
                    "name": "cyclic redundancy check",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,9,109)"
                        }
                    }
                },
                {
                    "name": "medical diagnostic imaging",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,101,120)"
                        }
                    }
                },
                {
                    "name": "fast",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,101,34)"
                        }
                    }
                },
                {
                    "name": "robust",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(97,3,34)"
                        }
                    }
                },
                {
                    "name": "fixed-point",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,142,131)"
                        }
                    }
                },
                {
                    "name": "algorithms",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,41,73)"
                        }
                    }
                },
                {
                    "name": "independent",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,12,17)"
                        }
                    }
                },
                {
                    "name": "component",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,11,54)"
                        }
                    }
                },
                {
                    "name": "analysis",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(43,122,81)"
                        }
                    }
                },
                {
                    "name": "robustness",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(62,129,45)"
                        }
                    }
                },
                {
                    "name": "independent component analysis",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,23,47)"
                        }
                    }
                },
                {
                    "name": "vectors",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,105,85)"
                        }
                    }
                },
                {
                    "name": "information theory",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,109,44)"
                        }
                    }
                },
                {
                    "name": "entropy",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(85,45,90)"
                        }
                    }
                },
                {
                    "name": "mutual information",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(75,13,33)"
                        }
                    }
                },
                {
                    "name": "blind source separation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,127,46)"
                        }
                    }
                },
                {
                    "name": "feature extraction",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,1,70)"
                        }
                    }
                },
                {
                    "name": "data mining",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,124,104)"
                        }
                    }
                },
                {
                    "name": "simple",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,53,135)"
                        }
                    }
                },
                {
                    "name": "analytical",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,108,105)"
                        }
                    }
                },
                {
                    "name": "graphical",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,54,133)"
                        }
                    }
                },
                {
                    "name": "carrier-based",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,147,154)"
                        }
                    }
                },
                {
                    "name": "pwm-vsi",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,117,92)"
                        }
                    }
                },
                {
                    "name": "drives",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,63,150)"
                        }
                    }
                },
                {
                    "name": "pulse width modulation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,100,34)"
                        }
                    }
                },
                {
                    "name": "pulse width modulation inverters",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,129,116)"
                        }
                    }
                },
                {
                    "name": "space vector pulse width modulation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(5,37,49)"
                        }
                    }
                },
                {
                    "name": "switching loss",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,84,30)"
                        }
                    }
                },
                {
                    "name": "pulsed power supplies",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,132,64)"
                        }
                    }
                },
                {
                    "name": "graphics",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,149,17)"
                        }
                    }
                },
                {
                    "name": "linearity",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(120,55,73)"
                        }
                    }
                },
                {
                    "name": "switches",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,71,66)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "hotspots",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_432e700043994b11a6b52d25fe0eca7b.setOption(option_432e700043994b11a6b52d25fe0eca7b);
    </script>
</body>
</html>
