<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="7428dba4e9bd47058f17c2471c333c47" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_7428dba4e9bd47058f17c2471c333c47 = echarts.init(
            document.getElementById('7428dba4e9bd47058f17c2471c333c47'), 'white', {renderer: 'canvas'});
        var option_7428dba4e9bd47058f17c2471c333c47 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "hotspots",
            "shape": "diamond",
            "rotationRange": [
                0,
                0
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                12,
                55
            ],
            "data": [
                {
                    "name": "cloud computing",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,35,73)"
                        }
                    }
                },
                {
                    "name": "big",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,123,16)"
                        }
                    }
                },
                {
                    "name": "data",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,60,152)"
                        }
                    }
                },
                {
                    "name": "computer crime",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(66,103,38)"
                        }
                    }
                },
                {
                    "name": "software-defined",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,156,127)"
                        }
                    }
                },
                {
                    "name": "sdn",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,138,114)"
                        }
                    }
                },
                {
                    "name": "optimization",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,117,75)"
                        }
                    }
                },
                {
                    "name": "radar",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,51,57)"
                        }
                    }
                },
                {
                    "name": "data dissemination",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,5,82)"
                        }
                    }
                },
                {
                    "name": "max-index",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(142,140,91)"
                        }
                    }
                },
                {
                    "name": "based",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(27,124,131)"
                        }
                    }
                },
                {
                    "name": "local",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,159,142)"
                        }
                    }
                },
                {
                    "name": "self-similarity",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,118,144)"
                        }
                    }
                },
                {
                    "name": "descriptor",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(46,117,130)"
                        }
                    }
                },
                {
                    "name": "robust",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(29,95,48)"
                        }
                    }
                },
                {
                    "name": "multi-modal",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,98,117)"
                        }
                    }
                },
                {
                    "name": "image",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,14,65)"
                        }
                    }
                },
                {
                    "name": "registration",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,73,56)"
                        }
                    }
                },
                {
                    "name": "feature extraction",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,131,5)"
                        }
                    }
                },
                {
                    "name": "optical distortion",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(99,90,87)"
                        }
                    }
                },
                {
                    "name": "optical sensors",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,136,143)"
                        }
                    }
                },
                {
                    "name": "optical imaging",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,152,56)"
                        }
                    }
                },
                {
                    "name": "image registration",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,137,126)"
                        }
                    }
                },
                {
                    "name": "remote sensing",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,48,7)"
                        }
                    }
                },
                {
                    "name": "nonlinear distortion",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(18,25,145)"
                        }
                    }
                },
                {
                    "name": "local self-similarity (lss)",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,153,38)"
                        }
                    }
                },
                {
                    "name": "max-index similarity map (mism)",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,99,117)"
                        }
                    }
                },
                {
                    "name": "multi-modal remote sensing image registration",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(160,158,115)"
                        }
                    }
                },
                {
                    "name": "multi-level",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,66,106)"
                        }
                    }
                },
                {
                    "name": "ddos",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(64,37,121)"
                        }
                    }
                },
                {
                    "name": "mitigation",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,86,91)"
                        }
                    }
                },
                {
                    "name": "framework",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(96,146,146)"
                        }
                    }
                },
                {
                    "name": "industrial",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,149,110)"
                        }
                    }
                },
                {
                    "name": "internet",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,143,131)"
                        }
                    }
                },
                {
                    "name": "things",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,20,50)"
                        }
                    }
                },
                {
                    "name": "edge computing",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,106,87)"
                        }
                    }
                },
                {
                    "name": "internet of things",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,36,142)"
                        }
                    }
                },
                {
                    "name": "logic gates",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,143,29)"
                        }
                    }
                },
                {
                    "name": "malware",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,38,14)"
                        }
                    }
                },
                {
                    "name": "production facilities",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(82,70,77)"
                        }
                    }
                },
                {
                    "name": "meets",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,70,156)"
                        }
                    }
                },
                {
                    "name": "networking:",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(15,112,21)"
                        }
                    }
                },
                {
                    "name": "big data",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(153,147,41)"
                        }
                    }
                },
                {
                    "name": "security",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,154,145)"
                        }
                    }
                },
                {
                    "name": "market research",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,9,131)"
                        }
                    }
                },
                {
                    "name": "wireless",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,42,31)"
                        }
                    }
                },
                {
                    "name": "sensor",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,42,149)"
                        }
                    }
                },
                {
                    "name": "networks:",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,110,97)"
                        }
                    }
                },
                {
                    "name": "epidemiological",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,65,111)"
                        }
                    }
                },
                {
                    "name": "modeling",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,134,35)"
                        }
                    }
                },
                {
                    "name": "epidemics",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(126,144,138)"
                        }
                    }
                },
                {
                    "name": "sensors",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(15,112,25)"
                        }
                    }
                },
                {
                    "name": "wireless sensor networks",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(70,37,41)"
                        }
                    }
                },
                {
                    "name": "data models",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,136,10)"
                        }
                    }
                },
                {
                    "name": "analytical models",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,13,131)"
                        }
                    }
                },
                {
                    "name": "wireless radar sensor networks (wrsns)",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(25,137,42)"
                        }
                    }
                },
                {
                    "name": "integrated sensing and communication (isac)",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(11,103,142)"
                        }
                    }
                },
                {
                    "name": "epidemic theory",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,88,141)"
                        }
                    }
                },
                {
                    "name": "distributed",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,90,70)"
                        }
                    }
                },
                {
                    "name": "denial",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,75,69)"
                        }
                    }
                },
                {
                    "name": "service",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(93,126,115)"
                        }
                    }
                },
                {
                    "name": "attacks",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,92,22)"
                        }
                    }
                },
                {
                    "name": "networking",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(118,2,11)"
                        }
                    }
                },
                {
                    "name": "cloud",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(55,85,115)"
                        }
                    }
                },
                {
                    "name": "computing",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(134,71,0)"
                        }
                    }
                },
                {
                    "name": "network security",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,52,129)"
                        }
                    }
                },
                {
                    "name": "software radio",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,7,5)"
                        }
                    }
                },
                {
                    "name": "computer architecture",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(12,43,113)"
                        }
                    }
                },
                {
                    "name": "decoupling",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,91,48)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "hotspots",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_7428dba4e9bd47058f17c2471c333c47.setOption(option_7428dba4e9bd47058f17c2471c333c47);
    </script>
</body>
</html>
